/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets-plugins/jquery/css
 * require_tree ../../../vendor/assets-plugins/bootstrap/css
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #FFF3F3;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    background-color: transparent;
    text-decoration: none !important;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field {
  label {
    display: block;
  }
  input {
    width: 400px;
    height: 30px;
  }
  textarea {
    width: 400px;
    height: 100px;
  }
  .hint {
    color: #666;
    font-size: smaller;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.flash {
  .alert, .error {
    color: #f00;
  }
  .notice {
    color: #0c0;
  }
}

.header_img{
  background-color: #AE0B28;
  min-height: 100px;
}
.box1, .box2, .box3{
    width:50px;
    padding: 10px;
  }
.box1{
  background-color: #FFAAAA;
}  
.box2{
  background-color: #D46A6A;
  margin-left: 100px;
}
.box3{
  background-color: #801515;
  margin-left: 200px;
}
.box-title{
  margin-left: 500px;
  color: #FFAAAA;
}
.header{
  margin-top: -10px;
  a{
    padding: 0px 10px;
    &:hover{
        text-decoration: none !important;
        background-color: #FFAAAA;
        padding: 10px;
        padding-top: 9px;
    }
    &:visited {
      color: black;
    }
  }
}

.header_leader{
  margin-top: -10px;
  a{
    padding: 0px 10px;
    &:hover{
        text-decoration: none !important;
        background-color: #FFAAAA;
        padding: 20px;
        padding-top: 16px;
    }
    &:visited {
      color: black;
    }
  }
}



.row{
  margin-left: 15px;
  margin-right: 0px;
}

.content-answer{
  padding: 10px;
}

.box-answer{
  padding: 10px;
}

.question{
  /*background-color: ;*/
}

.header_top{
  border-top:1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

.header_bottom{
  border-top:1px solid black;
  margin-top: 10px;
}